<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
        <script src="favs.js"></script>
</head>

<body onload="pageLoaded()">
    <div class="app-content navbar-padding text-page">
        <div class="mdc-card transparent">
            <h2>Created by Jonathan Sellier, Kelly Johnson, and Philip Chang</h2>
            <h2>Attributions:</h2>
            <h3>Google Maps JavaScript API</h3>
            <h3>Google Maps Directions API</h3>
            <h3>Shake.JS</h3>
            <p>NB Shake.JS has been modified to normalize the acceleration vector</p>
            <h3>Navigate a bull uses or may use the following packages. Their associated licenses are available on NPM</h3>
            <ul class="mdc-list">
                <%- include('partial/modules'); -%>
            </ul>
            <a href="https://github.com/jonosellier/nav-a-bull"><button class="mdc-button mdc-button--outlined" id="suBtn">Source Code (GitHub)</button></a>
        </div>
        <a href="#"><button class="mdc-fab mdc-fab--extended">
            <span class="material-icons mdc-fab__icon">vertical_align_top</span>
            <span class="mdc-fab__label">Top</span>
        </button></a>
        <div class="bottom-padding"></div>
    </div>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="showHideNav()">menu</button>
                <span class="mdc-top-app-bar__title">About</span>
            </section>
        </div>
    </header>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
</body>

</html>