<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
        <script src="favs.js"></script>
</head>

<body onload="pageLoaded()">
    <div class="app-content navbar-padding">
        <ul class="mdc-list" id="place-list">
            <!-- list populates here -->
        </ul>
        <button class="mdc-fab mdc-fab--extended" onclick="onClickAddPlace()">
            <span class="material-icons mdc-fab__icon">add</span>
            <span class="mdc-fab__label">Add a Place</span>
        </button></a>
        <div class="bottom-padding"></div>
    </div>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="showHideNav()">menu</button>
                <span class="mdc-top-app-bar__title">Favorites</span>
            </section>
        </div>
    </header>
    <div id="darken-bg" onclick="closePopups()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
    <div id="add-place-popup" class="hide">
        <h3>Add A Place</h3>
        <form class="fw-form" method="POST" action="/favorites-add">
            <select id="place" name="place"></select>
            <select id="category" name="category"></select>
            <input type="text" name="id" id="idHolder">
            <button type="submit" class="mdc-button mdc-button--outlined popupBtn">Add To Favorites</button>
        </form>
    </div>
    <div id="remove-place-popup">
        <form method="POST" action="/favorites-remove">
            <button type="submit" class="mdc-button mdc-button--outlined noborder menuPopupBtn errorTxt" id="suBtn">Remove</button>
            <input id="place-remove" type="hidden" name="location" value="val1">
            <input id="category-remove" type="hidden" name="category" value="val1">
        </form>
    </div>
</body>

</html>