<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
</head>

<body onload="populateFavs()">
    <div class="app-content navbar-padding">
        <ul class="mdc-list" id="place-list">
            <h3>Category</h3>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
                <span aria-hidden="true" class="mdc-list-item__meta"><button class="mdc-icon-button material-icons">more_vert</button></span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <h3>Category</h3>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <h3>Category</h3>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span> <span class="mdc-list-item__text">Single-line item</span>
            </li>
        </ul>
        <button class="mdc-fab mdc-fab--extended">
            <span class="material-icons mdc-fab__icon">add</span>
            <span class="mdc-fab__label">Add a Place</span>
        </button>
        <div class="bottom-padding"></div>
    </div>
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" onclick="showHideNav()">menu</button>
                <span class="mdc-top-app-bar__title">Favorites</span>
            </section>
        </div>
    </header>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
</body>

</html>