<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
        <script src="map.js"></script>
</head>

<body onload="pageLoaded()">
    <div class="app-content">
        <div class="pull-up-panel">
            <div class="panel-puller">
            </div>
            <select id='start'>
                <option value="myLoc" disabled selected hidden>I'm coming from...</option>
                <option value="myLoc">Current Location</option>
                <option value="3H5J+XJ Tampa, Florida">JP</option>
                <option value="3H7P+HJ Tampa, Florida">MSC</option>
                <option value="3H6P+G7 Tampa, Florida">ISA</option>
                <option value="grand central station, new york, ny">Grand Central Station</option>
                <option value="625 8th Avenue, New York, NY, 10018">Port Authority Bus Terminal</option>
                <option value="staten island ferry terminal, new york, ny">Staten Island Ferry Terminal</option>
                <option value="101 E 125th Street, New York, NY">Harlem - 125th St Station</option>
            </select>
            <select id='end'>
                <option value="" disabled selected hidden>I'm going to...</option>
                <option value="3H5J+XJ Tampa, Florida">JP</option>
                <option value="3H7P+HJ Tampa, Florida">MSC</option>
                <option value="3H6P+G7 Tampa, Florida">ISA</option>
                <option value="W 49th St & 5th Ave, New York, NY 10020">Rockefeller Center</option>
                <option value="moma, New York, NY">MOMA</option>
                <option value="350 5th Ave, New York, NY, 10118">Empire State Building</option>
                <option value="253 West 125th Street, New York, NY">Apollo Theater</option>
                <option value="1 Wall St, New York, NY">Wall St</option>
            </select>
            <div id="directions-panel"></div>
            <div id="warnings-panel"></div>
        </div>
        <div id="map"></div>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button map-recenter" aria-label="Recenter Map" onclick="recenterMap()">my_location</button>
    </div>
    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button no-menu-button" onclick="showHideNav()">menu</button>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apikey %>&callback=initMap">
    </script>
</body>

</html>