<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
        <script src="map.js"></script>
        <script src="shake.js"></script>
</head>

<body onload="pageLoaded()">
    <div class="app-content">
        <div class="pull-up-panel">
            <div class="panel-puller"></div>
            <select id='start'></select>
            <select id='end'></select>
            <div id="directions-panel"></div>
            <div id="warnings-panel"></div>
        </div>
        <div id="map"></div>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button map-recenter" aria-label="Recenter Map" onclick="recenterMap()">my_location</button>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" id="rotate-btn" aria-label="Reorient Map" onclick="toggleRotation()">navigation</button>
    </div>
    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button no-menu-button" onclick="showHideNav()">menu</button>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apikey %>&callback=initMap">
    </script>
</body>

</html>