<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="app.js">
    </script>
    <link rel="stylesheet" href="style.css">
    <title>Directions Service (Complex)</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">
</head>
<body onload="pageLoaded()">
    <div id="main-splash" class="splash-screen">Navigate-a-Bull</div>
    <div class="app-content">
        <button class ="fab right" onclick="recenterMap()">+</button>
        <div class="pull-up-panel">
        <div class="panel-puller">
        </div>
            <select id='start'>
                <option value="myLoc" disabled selected hidden>I'm coming from...</option>
                <option value="myLoc">Current Location</option>
                <option value="3H5J+XJ Tampa, Florida">JP</option>
                <option value="3H7P+HJ Tampa, Florida">MSC</option>
                <option value="3H6P+G7 Tampa, Florida">ISA</option>
                <option value="grand central station, new york, ny">Grand Central Station</option>
                <option value="625 8th Avenue, New York, NY, 10018">Port Authority Bus Terminal</option>
                <option value="staten island ferry terminal, new york, ny">Staten Island Ferry Terminal</option>
                <option value="101 E 125th Street, New York, NY">Harlem - 125th St Station</option>
            </select>
            <select id='end'>
                <option value="" disabled selected hidden>I'm going to...</option>
                <option value="3H5J+XJ Tampa, Florida">JP</option>
                <option value="3H7P+HJ Tampa, Florida">MSC</option>
                <option value="3H6P+G7 Tampa, Florida">ISA</option>
                <option value="W 49th St & 5th Ave, New York, NY 10020">Rockefeller Center</option>
                <option value="moma, New York, NY">MOMA</option>
                <option value="350 5th Ave, New York, NY, 10118">Empire State Building</option>
                <option value="253 West 125th Street, New York, NY">Apollo Theater</option>
                <option value="1 Wall St, New York, NY">Wall St</option>
            </select>
            <div id="directions-panel"></div>
            <div id="warnings-panel"></div>
        </div>
        <div id="map"></div>
    </div>
    <button class ="fab left" onclick="showHideNav()">...<button>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
            <a href="/favorites"><div class="nav-item" data-link="/favorites">Favorites</div></a>
            <div class="nav-item" data-link="/settings">Settings</div>
            <div class="nav-item" data-link="/about">About</div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apikey %>&callback=initMap">
    </script>
</body>

</html>