<!DOCTYPE html>
<html>

<head>
    <%- include('partial/head'); -%>
        <script src="loginPage.js"></script>
</head>

<body onload="pageLoaded()">
    <div class="app-content">
        <div class=bottom-padding></div>
        <button class="mdc-button text-btn" onclick="moveTo(0);">Log In</button> <button class="mdc-button inactive text-btn" onclick="moveTo(1);">Sign Up</button>
        <div class="doublewide-container">
            <div class="doublewide">
                <div class="formContainer">
                    <form class="fw-form" action="/doLogin" id="lgForm" method="POST">
                        <div id="error-msg"></div>
                        <div class="mdc-text-field">
                            <input type="text" name="lguser" class="form-input" placeholder="Username">
                        </div>
                        <div class="mdc-text-field">
                            <input type="password" name="lgpw" class="form-input" placeholder="Password">
                        </div>
                        <div class="mdc-text-field">
                            <button type="submit" class="mdc-button mdc-button--outlined">Log In</button>
                        </div>
                    </form>
                </div>
                <div class="formContainer">
                    <form class="fw-form" action="/doSignUp" id="suForm" method="POST">
                        <div class="mdc-text-field">
                            <input type="text" name="suuser" class="form-input" placeholder="Username" onchange="verify()">
                        </div>
                        <div class="mdc-text-field">
                            <input type="password" name="supw" class="form-input" placeholder="Password" onchange="verify()">
                        </div>
                        <div class="mdc-text-field">
                            <input type="password" name="supwc" class="form-input" placeholder="Confrirm Password" onchange="verify()">
                        </div>
                        <div class="mdc-text-field">
                            <button type="submit" class="mdc-button mdc-button--outlined" id="suBtn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button no-menu-button transparent" onclick="window.location.href =`/`">arrow_back</button>
    <div id="darken-bg" onclick="showHideNav()"></div>
    <div id="nav-panel">
        <%- include('partial/navpanel'); -%>
    </div>
    <div id='toast'>
    </div>
</body>
</html>