/* Theme colors*/

:root {
    --mdc-theme-primary: #fafafa;
    --mdc-theme-primary-lighter: #f4f4f4;
    --mdc-theme-secondary: #43a047;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-text-primary-on-light: #000000;
}

[data-theme="dark"] {
    --mdc-theme-primary: #2b2b2b;
    --mdc-theme-primary-lighter: #263238;
    --mdc-theme-secondary: #81c784;
    --mdc-theme-on-primary: #8f8f8f;
    --mdc-theme-text-primary-on-light: #000000;
    --mdc-theme-text-icon-on-background: #808080;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-text-primary-on-light);
}

.transparent {
    --mdc-theme-primary: : rgba(255, 255, 255, 0) !important;
}

.no-menu-button {
    margin: 0.25em;
    background-color: var(--mdc-theme-primary);
    border-radius: 100%;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
    position: fixed;
}

.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-secondary);
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    position: fixed;
    height: calc(100% - 4em);
    top: 0;
    left: 0;
    background-color: aqua;
}


/* Optional: Makes the sample page fill the window. */

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    transition: 0;
}

.app-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#directions-panel {
    display: none;
    max-height: 40vh;
    overflow: auto;
}

.pull-up-panel {
    position: absolute;
    top: calc(100% - 7.9em);
    height: auto;
    z-index: 5;
    background-color: var(--mdc-theme-primary);
    border: 1px solid var(--mdc-theme-primary);
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 1em;
    width: calc(100% - 2.1em);
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.panel-puller {
    position: relative;
    top: -0.25em;
    left: calc(50% - 3.5em);
    display: block;
    width: 6em;
    height: 0.25em;
    border: 0.25em solid var(--mdc-theme-primary);
    border-radius: 0.375em;
    background-color: #aaa;
}

#warnings-panel {
    width: 100%;
    height: 10%;
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: var(--mdc-theme-primary-lighter);
    background-image: url('/img/icons/more_horiz-24px.svg');
    background-position: calc(100% - 0.5em);
    background-repeat: no-repeat;
    background-size: 32px;
    border: 2px solid rgba(170, 170, 170, 0.26);
    border-radius: 0.25em;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    margin-top: 0.75em;
    margin-bottom: -2px;
    width: 100%;
    color: var(--mdc-theme-on-primary);
}

.select-container {
    position: relative;
    display: inline;
    width: 100%;
}

.select-container:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.select-container:after {
    top: .3em;
    right: .75em;
    opacity: 0.5;
}

select::-ms-expand {
    display: none;
}

#end {
    position: sticky;
    margin-bottom: 1.25em;
    bottom: calc(2em + 0px);
    margin-top: 0;
    border-radius: 0 0 0.25em 0.25em;
    border-top-style: none;
}

#nav-panel {
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    z-index: 100;
    width: 15em;
    height: 100%;
    padding: 0;
    background-color: var(--mdc-theme-primary-lighter);
    transition: 0.25s;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.nav-item {
    display: block;
    width: auto;
    font-size: 1.5em;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0.5em;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    /*TODO: fix fonts*/
}

.list-item {
    display: block;
    width: auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--mdc-theme-on-primary);
    padding: 0.5em;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    font-size: 1.5em;
    /*TODO: fix fonts*/
}

a {
    text-decoration: none;
}

.pos-tr {
    z-index: 100;
    position: fixed;
    top: 0.25em;
    right: 0.25em;
}

.fab {
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: var(--mdc-theme-primary-lighter);
    border: none;
    position: fixed;
    top: 0.5em;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
    z-index: 98;
}

.left {
    left: 1em;
}

.right {
    right: 1em;
}

#darken-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #11111160;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#start {
    border-radius: 0.25em 0.25em 0.125em 0.125em;
    border-bottom-width: 4px;
}

.noshadow {
    box-shadow: none;
}

.topBar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    padding: 0;
    background-color: var(--mdc-theme-primary-lighter);
    z-index: 90;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
}

.title {
    position: relative;
    display: block;
    top: 0;
    left: 4em;
    height: 100%;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 2em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: var(--mdc-theme-secondary);
}

.h2-icon {
    padding-right: 1em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: var(--mdc-theme-secondary);
    margin-left: 1em;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: var(--mdc-theme-secondary);
    text-align: center;
}

.navbar-padding {
    padding-top: 3em;
}

.bottom-padding {
    display: block;
    width: 100%;
    height: 5em;
}

.mdc-list-item {
    color: var(--mdc-theme-on-primary);
}

.mdc-fab {
    position: fixed;
    bottom: 1.5em;
    right: 0.5em;
    color: var(--mdc-theme-primary);
}

.map-recenter {
    display: block;
    position: absolute;
    bottom: 6.5em;
    right: 1em;
    background-color: var(--mdc-theme-primary);
    border-radius: 100%;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
    width: 2.5em;
    height: 2.5em;
}

.inactive {
    opacity: 0.2;
}

.text-btn {
    display: inline-block;
    color: var(--mdc-theme-secondary) !important;
    font-size: 2em;
    transition: 0.25s;
    margin-left: 0.5em;
    margin-right: -0.5em;
}

.doublewide-container {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.doublewide {
    width: 200%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    transition: 0.25s
}

.doublewide div {
    width: calc(50% - 3px);
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.doublewide div * {
    display: inline-block;
    padding: 0.5em;
    width: -webkit-fill-available;
    vertical-align: top;
}

.formContainer * {
    margin: 0.5em;
    width: auto;
}

.mdc-button--outlined {
    border-color: var(--mdc-theme-secondary) !important;
    color: var(--mdc-theme-secondary) !important;
}

.form-input {
    background-color: var(--mdc-theme-primary)00 !important;
    border: 1px solid var(--mdc-theme-secondary);
    border-radius: 0.25em;
    font-size: 1em;
}

.mdc-text-field {
    background-color: var(--mdc-theme-primary)00 !important;
}

.fw-form {
    display: block;
    margin: 0;
    padding: 0;
}

.centered-content {
    display: block;
    width: 100%;
    text-align: center !important;
}

.centered-content * {
    display: inline-block;
    top: 0;
}

#profile-pic {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    display: inline-block;
    background-color: #cccccc;
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.mdc-drawer {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

.mdc-drawer .mdc-list-item {
    color: var(--mdc-theme-on-primary);
}