/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    position: fixed;
    height: calc(100% - 4em);
    top: 0;
    left: 0;
    background-color: aqua;
}


/* Optional: Makes the sample page fill the window. */

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-content {
    width: 100%;
    height: 100%;
    display: block;
}

#directions-panel {
    display: none;
    max-height: 40vh;
    overflow: auto;
}

.pull-up-panel {
    position: absolute;
    top: calc(100% - 7.9em);
    height: auto;
    z-index: 5;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 1em;
    width: calc(100% - 2.1em);
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.panel-puller {
    position: relative;
    top: -0.25em;
    left: calc(50% - 3em);
    display: block;
    width: 6em;
    height: 0.25em;
    border: 0.25em solid #fff;
    border-radius: 0.375em;
    background-color: #aaa;
}

#warnings-panel {
    width: 100%;
    height: 10%;
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #F4F4F4;
    background-image: url('/img/icons/more_horiz-24px.svg');
    background-position: calc(100% - 0.5em);
    background-repeat: no-repeat;
    background-size: 48px;
    border: 2px solid #aaa;
    border-radius: 0.25em;
    padding: 0.5em;
    font-size: 1.5em;
    margin-top: 0.75em;
    margin-bottom: -2px;
    width: 100%;
}

.select-container {
    position: relative;
    display: inline;
    width: 100%;
}

.select-container:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.select-container:after {
    top: .3em;
    right: .75em;
    opacity: 0.5;
}

select::-ms-expand {
    display: none;
}

#end {
    position: sticky;
    margin-bottom: 1em;
    bottom: calc(1.25em - 2px);
    margin-top: 0;
    border-radius: 0 0 0.25em 0.25em;
    border-top-style: none;
}

#nav-panel {
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    z-index: 100;
    width: 12em;
    height: 100%;
    padding: 1.5em;
    background-color: #F4F4F4;
    transition: 0.25s;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.nav-item {
    display: block;
    width: 100%;
    height: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    /*TODO: fix fonts*/
}

a {
    text-decoration: none;
}

.fab {
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: #F4F4F4;
    border: none;
    position: fixed;
    top: 1em;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
    z-index: 98;
}

.left {
    left: 1em;
}

.right {
    right: 1em;
}

#darken-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #11111160;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#start {
    border-radius: 0.25em 0.25em 0.125em 0.125em;
    border-bottom-width: 4px;
}

.splash-screen {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 101;
    opacity: 1;
}

#main-splash {
    background-color: #FFFFFF;
}