/* Theme colors*/

:root {
    --mdc-theme-primary: #fafafa;
    --mdc-theme-secondary: #43a047;
    --mdc-theme-on-primary: #000000;
    --mdc-theme-text-primary-on-light: #000000;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-text-primary-on-light);
}

.transparent {
    --mdc-theme-primary: : rgba(255, 255, 255, 0) !important;
}

.transparent .mdc-top-app-bar__row section .mdc-icon-button {
    background-color: #fafafa;
    border-radius: 100%;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.mdc-drawer .mdc-list-item--activated,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-secondary);
}


/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    position: fixed;
    height: calc(100% - 4em);
    top: 0;
    left: 0;
    background-color: aqua;
}


/* Optional: Makes the sample page fill the window. */

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#directions-panel {
    display: none;
    max-height: 40vh;
    overflow: auto;
}

.pull-up-panel {
    position: absolute;
    top: calc(100% - 7.9em);
    height: auto;
    z-index: 5;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 1em;
    width: calc(100% - 2.1em);
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.panel-puller {
    position: relative;
    top: -0.25em;
    left: calc(50% - 3em);
    display: block;
    width: 6em;
    height: 0.25em;
    border: 0.25em solid #fff;
    border-radius: 0.375em;
    background-color: #aaa;
}

#warnings-panel {
    width: 100%;
    height: 10%;
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #F4F4F4;
    background-image: url('/img/icons/more_horiz-24px.svg');
    background-position: calc(100% - 0.5em);
    background-repeat: no-repeat;
    background-size: 32px;
    border: 2px solid #aaa;
    border-radius: 0.25em;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    margin-top: 0.75em;
    margin-bottom: -2px;
    width: 100%;
}

.select-container {
    position: relative;
    display: inline;
    width: 100%;
}

.select-container:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.select-container:after {
    top: .3em;
    right: .75em;
    opacity: 0.5;
}

select::-ms-expand {
    display: none;
}

#end {
    position: sticky;
    margin-bottom: 1.25em;
    bottom: calc(2em + 0px);
    margin-top: 0;
    border-radius: 0 0 0.25em 0.25em;
    border-top-style: none;
}

#nav-panel {
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    z-index: 100;
    width: 15em;
    height: 100%;
    padding: 0;
    background-color: #F4F4F4;
    transition: 0.25s;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.nav-item {
    display: block;
    width: auto;
    font-size: 1.5em;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0.5em;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    /*TODO: fix fonts*/
}

.list-item {
    display: block;
    width: auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0.5em;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    font-size: 1.5em;
    /*TODO: fix fonts*/
}

a {
    text-decoration: none;
}

.pos-tr {
    z-index: 100;
    position: fixed;
    top: 0.25em;
    right: 0.25em;
}

.fab {
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: #F4F4F4;
    border: none;
    position: fixed;
    top: 0.5em;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
    z-index: 98;
}

.left {
    left: 1em;
}

.right {
    right: 1em;
}

#darken-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #11111160;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#start {
    border-radius: 0.25em 0.25em 0.125em 0.125em;
    border-bottom-width: 4px;
}

.splash-screen {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 101;
    opacity: 1;
}

.noshadow {
    box-shadow: none;
}

.topBar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    padding: 0;
    background-color: #F4F4F4;
    z-index: 90;
    box-shadow: 0 0 0.5em 0.25em #1111112a;
}

.title {
    position: relative;
    display: block;
    top: 0;
    left: 4em;
    height: 100%;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 2em;
}

.navbar-padding {
    padding-top: 5em;
    overflow: auto;
}